/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f7f7f7;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em;
}
h2 {
  color: #09f;
  margin: .7em 0;
  font-size: 2em;
}
p { margin: 1em 0; }

a {
  color: #09f;
  text-decoration: none;
}
a:hover   {
  text-decoration: underline;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 0em auto 2em;
  line-height: 1.5em;
}

.header {
  background: #fff;
  height: 25px;
  padding: 5px 5px 3px;
  border-bottom: 5px solid #9cf;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.header .right {
  float: right;
  padding-top: 1px;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #09f;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #9cf;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
  font-size: 12px;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  width: 100%;
}

.footer .contact p {
  margin: 0;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post-wrapper {
  border: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  border-top: 0;
  padding: 10px 30px;
  background: #fff;
}

.post-wrapper .share {
    width: 100%;
    height: 10px;
    text-align: right;
}

.post-wrapper .share .twitter-share-button {
    margin-right: -5px;
}

.post {
  color: #333;
}

.related {
  margin-top: 30px;
  border-top: 1px solid #eee;
  font-size: 12px;
  font-color: #777;
}

.related > span {
  width: 45%;
  padding: 10px;
  display: inline-block;
  text-align: left;
}

.related span.left {
  float: left;
}

.related span.right {
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
