---
layout: default
title: Yucazos de Innovación Tecnológica
---

<div id="home">
	<h2>Yucazos de Innovación Tecnológica</h2>
	<ul class="posts">
		{% for post in site.posts %}
			{% unless post.categories contains 'old' %}
				<li class="solid">
					<a href="{{ post.url }}">
						&#x27a4 {{ post.title }}
						<span>{{ post.date | date_to_string }}</span>
					</a>
				</li>
			{% endunless %}
		{% endfor %}
	</ul>
	<br/>
	<h3 style="color:#555">Art­ículos Viejos:</h3>
	<ul class="posts">
		{% for post in site.posts %}
			{% if post.categories contains 'old' %}
				<li><a href="{{ post.url }}">&#x27af {{ post.title }}</a> <span>{{ post.date | date_to_string }}</span></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
